<%- include("./shared/header.ejs") %>

<style>
  textarea.form-control {
    resize: none;
    border-radius: 14px;
    border: 1px solid #ddd;
    padding: 14px;
    transition: all 0.2s ease;
    font-size: 17px;
  }

  .char-counter {
    text-align: right;
    font-size: 14px;
    color: #6c757d;
    margin-top: 6px;
  }

  .btn-send {
    font-size: 18px;
    padding: 12px 0;
    border-radius: 10px;
    transition: all 0.2s ease;
  }
</style>

<div class="container text-center py-5 my-5">
  <p class="sub-text">
    Write a message to <strong><%= user?.name %></strong> without them
    knowing
  </p>
  <div class="card py-5 px-4 mb-5 shadow-sm">
    <img
      src="/img/users/<%=(user?.photo)? user.photo: 'static/avatar.png'%>"
      class="avatar mb-3"
      alt="User Photo"
    />
    <h3 class="py-1"><%= user?.name %></h3>
    <p class="text-muted">@<%= user?.username %></p>

    <div class="container w-75 w-md-50 m-auto">
      <form class="form form--send-msg">
        <textarea
          class="form-control"
          name="msg"
          id="msg"
          cols="10"
          rows="7"
          placeholder="Send a Sara7a message to <%=user?.name%> without them knowing..."
          minlength="6"
          maxlength="500"
          required
        ></textarea>
        <div class="char-counter">
          <span id="remaining" style="font-weight: bold">500</span>
          characters left
        </div>

        <input
          id="receiver"
          type="hidden"
          name="receiver"
          value="<%= user?._id %>"
        />

        <button class="btn btn-info btn-lg mt-3 w-100 btn--send-msg">
          <i class="far fa-paper-plane"></i> Send
        </button>

        <div class="mt-2 d-flex justify-content-between align-items-center flex-wrap text-muted small">
        <span>
          <i class="fas fa-users text-primary"></i>
            Number of visits: <strong><%= user.visitsCount || 0 %> </strong>
        </span>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include("./shared/footer.ejs") %>
